.filterableItemList {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 20px;
}

.itemSummary {
  display: flex;
  font-size: small;
  border: 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

.itemSummary:nth-of-type(odd) {
  background: #e0e0e0;
}

.itemUtilities {
  width: 25%;
}

.itemContent {
  vertical-align: middle;
  flex-grow: 1;
}
.tagsList{
  margin: 20px;
}

.tag {
  margin: 5px;
  padding: 5px;
  background: #a1c1d1;
  border-radius: 10px 5% / 20px 30px;
}
